<% include ../partials/header %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
		<h1>Welcome to MidBnb!</h1>
		<p>View our amazing flats ready to be rented by you</p>
		<p>
		<a class="btn btn-primary btn-lg" href="/flats/new">Add New Flat</a>
		</p>
		</div>

		<!-- searchbar	 -->
		<form action="/hms/accommodations" method="GET"> 
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	<% campgrounds.forEach(function(campground){ %>
<div class="col-md-3 col-sm-6">
	<div class="thumbnail">
	<img src="<%= campground.image %>">
		<div class="caption">
			<h4><%= campground.name %></h4>
		</div>
		<p>
			<a href="/flats/<%=campground._id %>" class="btn btn-primary">More info</a>
		</p>
	</div>

	
</div>
<%}) %>
</div>	

	</div>
	





<% include ../partials/footer %>