<!DOCTYPE html>
<html>
    <head>
        <title>MidBnb</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<script src="https://kit.fontawesome.com/90d41d5c53.js"></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to </h1> 
		<h1>MidBnb</h1>
		<h1><i class="fab fa-airbnb"></i></h1>
		<p>The easy way to rent on AirBnb</p>
		<p>Let the middle man do the job!</p>
		<a href="/flats" class="btn btn-lg btn-success">View All Flats</a>
		<a href="/login" class="btn btn-lg btn-success">I am a landlord</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>